<div class="content-wrapper container-xxl p-0" *ngIf="refreshFlag">
  <div class="content-body" >
    <!-- content-header component -->
    <!-- Basic Alerts start //   -->
    <section id="sample-page">

      <div class="row" >

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ 'TRANSACTION.title' | translate }}</h4>
            </div>
            <div class="card-body pb-1">

              <form class="form" [formGroup]="form">
                <div class="row">
                  <div class="col-md-3 col-12">
                    <div class="form-group">
                      <label for="first-name-column">Transaction Id</label>
                      <input type="text" id="first-name-column" formControlName="transactionId" class="form-control"
                        placeholder="Transaction Id" name="fname-column" />
                    </div>
                  </div>
                  <div class="col-md-1 col-12 search-btn">
                    <button type="button" class="btn btn-icon btn-outline-primary" (click)="searchTransaction()"
                      rippleEffect>
                      <span [data-feather]="'search'"></span></button>

                  </div>
                  <div class="col-md-3 col-12">
                    <div class="form-group">
                      <label for="first-date-column">Date</label>
                      <div style="padding-left: 30px;">
                        <ng2-flatpickr [config]="DateRangeOptions" formControlName="date"></ng2-flatpickr>
                      </div>

                      <div style="position: absolute;
                      top: 32px;
                      left: 14px;">
                        <i class="font-medium-2" data-feather="calendar"></i>

                      </div>
                    </div>

                  </div>
                  <div class="col-md-1 col-12 search-btn">
                    <button type="button" class="btn btn-icon btn-outline-primary"
                      (click)="searchTransactionDateRange()" rippleEffect>
                      <span [data-feather]="'search'"></span></button>

                  </div>
                  <div class="col-md-3 col-12">
                    <div class="form-group">
                      <label for="first-date-column">Select Transaction</label>
                      <ng-select [items]="selectIds" bindLabel="name" formControlName="selectTranscationId"
                        [loading]="selectBasicLoading"> </ng-select>

                    </div>

                  </div>
                  <div class="col-md-1 col-12 search-btn">
                    <button type="button" class="btn btn-icon btn-outline-primary" (click)="searchSelectTransaction()"
                      rippleEffect>
                      <span [data-feather]="'search'"></span></button>

                  </div>

                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Basic Alerts end -->
    <section id="sample-page" *ngIf="searchFlag">
      <div class="row">

        <div class="col-12">
          <div class="card">
            <button class="btn btn-outline-primary" type="button" disabled rippleEffect>
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
              <span class="ml-25 align-middle">Loading...</span>
            </button>

          </div>
        </div>
      </div>
    </section>
    <section id="sample-page">

      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> {{'TRANSACTION.grid_title_buyer_to_Gateway' |translate}}</h4>
            </div>
            <div class="col-md-12 col-12 d-flex justify-content-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center serach_text_padding"><input type="search" placeholder="Search"
                    class="form-control ml-25" (keyup)="filterUpdate($event,Constants.Buyer_to_Gateway)" /></label>
              </div>
            </div>
            <div class="col-md-12 col-12 d-flex justify-content-end" *ngIf="pagingFlag"> 
            <ngb-pagination  class="d-flex justify-content-end pagination-rounded-flat pagination-success"  
            [pageSize]="pageSize" [collectionSize]="records" [rotate]="true"   (pageChange)="loadPage($event)" [(page)]="page" [boundaryLinks]="true">
              <ng-template ngbPaginationFirst>First</ng-template>
              <ng-template ngbPaginationPrevious
                ><span [data-feather]="'chevron-left'" [class]="'font-weight-bolder'"></span>Prev
              </ng-template>
              <ng-template ngbPaginationNext
                >Next<span [data-feather]="'chevron-right'" [class]="'font-weight-bolder'"></span>
              </ng-template>
              <ng-template ngbPaginationLast>Last</ng-template>
            </ngb-pagination>
          </div>  
            <!-- ngx-datatable-row-details -->
            <ngx-datatable [rowClass]="onGetRowClass" #tableRowDetails_buyer_to_Gateway class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
              [rows]="rowsBuyerToGateway" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="'auto'">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="row ml-75" *ngIf="!row.readFlag">
                    Loading....
                  </div>
                  <div class="container" *ngIf="row.readFlag">
                    <div class="row ml-75">
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_detl' |translate}} :</strong>
                          <pre class="preclass">
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Transaction_id' |translate}} : </strong> {{ row.Transaction_id }}</span>
                   
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Buyer_Id' |translate}} : </strong> {{ row.Buyer_id }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Search_received_timestamp' |translate}} : </strong> {{ row.Search_received_timestampp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Buyer_status' |translate}} : </strong> {{ row.Buyer_status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}} : </strong> {{ row.Ack_Returned_Timestamp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Gatway_Status' |translate}} : </strong> {{ row.Gatway_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Error' |translate}} : </strong> {{ row.error }}</span>
                    </pre>
                        </span>
                      </div>
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_col_json' |translate}} :</strong>
                          <pre class="preclass">{{ row.json}}</pre>
                        </span>

                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                    (click)="rowDetailsToggleExpand(row,tableRowDetails_buyer_to_Gateway)">
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Transaction_id' |translate}}" prop="Transaction_id"
                [width]="200">

              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Buyer_Id' |translate}}" prop="Buyer_id" [width]="100">
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Search_received_timestamp' |translate}}"
                prop="Search_received_timestampp" [width]="130"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Buyer_status' |translate}}" prop="Buyer_status"
                [width]="80"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}}"
                prop="Ack_Returned_Timestamp" [width]="130"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Gatway_Status' |translate}}" prop="Gatway_Status"
                [width]="80"></ngx-datatable-column>

            </ngx-datatable>
            <!-- ngx-datatable-row-details -->

          </div>
        </div>
      </div>
    </section>

    <section id="sample-page">

      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> {{'TRANSACTION.grid_title_Gateway_to_Seller' |translate}}</h4>
            </div>
            <div class="col-md-12 col-12 d-flex justify-content-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center serach_text_padding"><input type="search" placeholder="Search"
                    class="form-control ml-25" (keyup)="filterUpdate($event,Constants.Gateway_to_Seller)" /></label>
              </div>
            </div>
            <!-- ngx-datatable-row-details -->
            <ngx-datatable #tableRowDetails_Gateway_to_Seller class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force" [rowClass]="onGetRowClass" [headerHeight]="40" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="5" [rows]="rowsGatewayToSeller" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="'auto'">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                  <div class="row ml-75" *ngIf="!row.readFlag">
                    Loading....
                  </div>
                  <div class="container" *ngIf="row.readFlag">
                    <div class="row ml-75">
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_detl' |translate}} :</strong>
                          <pre class="preclass">
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Transaction_id' |translate}} : </strong> {{ row.Transaction_id }}</span>
                   
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Seller_Id' |translate}} : </strong> {{ row.Seller_id }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Search_received_timestamp' |translate}} : </strong> {{ row.Search_received_timestampp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Gatway_Status' |translate}} : </strong> {{ row.Gatway_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}} : </strong> {{ row.Ack_Returned_Timestamp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Seller_Status' |translate}} : </strong> {{ row.Seller_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Error' |translate}} : </strong> {{ row.error }}</span>
                    </pre>
                        </span>
                      </div>
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_col_json' |translate}} :</strong>
                          <pre class="preclass">{{ row.json}}</pre>
                        </span>

                      </div>

                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                    (click)="rowDetailsToggleExpand(row,tableRowDetails_Gateway_to_Seller)">
                  </a>

                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Transaction_id' |translate}}" prop="Transaction_id"
                [width]="200">

              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Seller_Id' |translate}}" prop="Seller_id"
                [width]="100" [cellClass]="'auto'"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Search_received_timestamp' |translate}}"
                prop="Search_received_timestampp" [width]="130"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Gatway_Status' |translate}}" prop="Gatway_Status"
                [width]="80"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}}"
                prop="Ack_Returned_Timestamp" [width]="130"></ngx-datatable-column>


              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Seller_Status' |translate}}" prop="Seller_Status"
                [width]="80">
              </ngx-datatable-column>

            </ngx-datatable>
            <!-- <div>
              <p [ngStyle]="{'background-color':'green'}">this is sipmle example</p>
            </div> -->
            <!-- ngx-datatable-row-details -->

          </div>
        </div>
      </div>

    </section>

    <section id="sample-page">

      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> {{'TRANSACTION.grid_title_Seller_to_Gateway' |translate}}</h4>
            </div>
            <div class="col-md-12 col-12 d-flex justify-content-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center serach_text_padding"><input type="search" placeholder="Search"
                    class="form-control ml-25" (keyup)="filterUpdate($event,Constants.Seller_to_Gateway)" /></label>
              </div>
            </div>
            <!-- ngx-datatable-row-details -->
            <ngx-datatable [rowClass]="onGetRowClass" #tableRowDetails_SellerToGateway class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
              [rows]="rowsSellerToGateway" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="'auto'">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                  <div class="row ml-75" *ngIf="!row.readFlag">
                    Loading....
                  </div>
                  <div class="container" *ngIf="row.readFlag">
                    <div class="row ml-75">
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_detl' |translate}} :</strong>
                          <pre class="preclass">
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Transaction_id' |translate}} : </strong> {{ row.Transaction_id }}</span>
                   
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Seller_Id' |translate}} : </strong> {{ row.Seller_id }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Search_received_timestamp' |translate}} : </strong> {{ row.Search_received_timestampp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Gatway_Status' |translate}} : </strong> {{ row.Gatway_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}} : </strong> {{ row.Ack_Returned_Timestamp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Seller_Status' |translate}} : </strong> {{ row.Seller_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Error' |translate}} : </strong> {{ row.error }}</span>
                    </pre>
                        </span>
                      </div>
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_col_json' |translate}} :</strong>
                          <pre class="preclass">{{ row.json}}</pre>
                        </span>

                      </div>
                    </div>
                  </div>

                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                    (click)="rowDetailsToggleExpand(row,tableRowDetails_SellerToGateway)">
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Transaction_id' |translate}}" prop="Transaction_id"
                [width]="200">

              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Seller_Id' |translate}}" prop="Seller_id"
                [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Search_received_timestamp' |translate}}"
                prop="Search_received_timestampp" [width]="130"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Seller_Status' |translate}}" prop="Seller_Status"
                [width]="80"> </ngx-datatable-column>

              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}}"
                prop="Ack_Returned_Timestamp" [width]="130"></ngx-datatable-column>

              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Gatway_Status' |translate}}" prop="Gatway_Status"
                [width]="80"></ngx-datatable-column>


            </ngx-datatable>
            <!-- ngx-datatable-row-details -->

          </div>
        </div>
      </div>
    </section>

    <section id="sample-page">

      <div class="row">

        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> {{'TRANSACTION.grid_title_Gateway_to_Buyer' |translate}}</h4>
            </div>
            <div class="col-md-12 col-12 d-flex justify-content-end">
              <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                <label class="d-flex align-items-center serach_text_padding"><input type="search" placeholder="Search"
                    class="form-control ml-25" (keyup)="filterUpdate($event,Constants.Gateway_to_Buyer)" /></label>
              </div>
            </div>
            <!-- ngx-datatable-row-details -->
            <ngx-datatable [rowClass]="onGetRowClass" #tableRowDetails_GatewayToBuyer class="bootstrap core-bootstrap"
              [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5"
              [rows]="rowsrowsGatewayToBuyer" [scrollbarH]="true">
              <!-- Row Detail Template -->
              <ngx-datatable-row-detail [rowHeight]="'auto'">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>

                  <div class="row ml-75" *ngIf="!row.readFlag">
                    Loading....
                  </div>
                  <div class="container" *ngIf="row.readFlag">
                    <div class="row ml-75">

                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_detl' |translate}} :</strong>
                          <pre class="preclass">
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Transaction_id' |translate}} : </strong> {{ row.Transaction_id }}</span>
                   
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Seller_Id' |translate}} : </strong> {{ row.Seller_id }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Buyer_Id' |translate}} : </strong> {{ row.Buyer_id }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Search_received_timestamp' |translate}} : </strong> {{ row.Search_received_timestampp }}</span>
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Buyer_status' |translate}} : </strong> {{ row.Buyer_status }}</span>
                    
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}} : </strong> {{ row.Ack_Returned_Timestamp }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Gatway_Status' |translate}} : </strong> {{ row.Gatway_Status }}</span>
                      
                      <span class="spanmarginleft"><strong> {{'TRANSACTION.grid_col_Error' |translate}} : </strong> {{ row.error }}</span>
                    </pre>
                        </span>
                      </div>
                      <div class="col-6">
                        <span><strong> {{'TRANSACTION.grid_col_json' |translate}} :</strong>
                          <pre class="preclass">{{ row.json}}</pre>
                        </span>

                      </div>


                    </div>
                  </div>

                </ng-template>
              </ngx-datatable-row-detail>
              <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
                [canAutoResize]="false">
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                  <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                    (click)="rowDetailsToggleExpand(row,tableRowDetails_GatewayToBuyer)">
                  </a>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Transaction_id' |translate}}" prop="Transaction_id"
                [width]="200">

              </ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Seller_Id' |translate}}" prop="Seller_id"
                [width]="100"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Buyer_Id' |translate}}" prop="Buyer_id" [width]="100">
              </ngx-datatable-column>

              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Search_received_timestamp' |translate}}"
                prop="Search_received_timestampp" [width]="130"></ngx-datatable-column>
              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Gatway_Status' |translate}}" prop="Gatway_Status"
                [width]="80"></ngx-datatable-column>


              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Ack_returned_timestamp' |translate}}"
                prop="Ack_Returned_Timestamp" [width]="130"></ngx-datatable-column>

              <ngx-datatable-column name="{{'TRANSACTION.grid_col_Buyer_status' |translate}}" prop="Buyer_status"
                [width]="80"></ngx-datatable-column>
            </ngx-datatable>
            <!-- ngx-datatable-row-details -->


          </div>
        </div>
      </div>
    </section>

  </div>
</div>